/*
template:  custom css
*/
.page-id-106 .wpcf7-form-control-wrap.your-message {
    width: 100%;
}
.page-id-106 .textarea-section #message {
    height: 280px;
    width: 96%;
}
.page-id-106 #lastname {
    font-size: 18px;
     color: #000;
}
.page-id-106 #email {
    font-size: 18px;
     color: #000;
}
.page-id-106 #firstname {
    font-size: 18px;
    color: #000;
}
 .page-id-106 .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.user-success {
    font-size: 18px;
     color: #000;
}
.page-id-106  #wpcf7-f3852-p3573-o1 {
    margin-left: 33px;
}
.page-id-106 .modal-body {
    position: relative;
    padding: 15px;
    height: 450px;
    overflow-y: scroll;
}
.page-id-3344 .modal {
    background-color: transparent;
}
.basic-info-product h2 {
    text-align: left;
}
.third-section-authorname {
    color: #000;
    font-size: 30px !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-family: 'Conv_Gotham-Bold';
}
#l_n {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    font-family: 'Conv_Gotham-Book';
    color: #000;
}
#f_n {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    font-family: 'Conv_Gotham-Book';
     color: #000;
}
#u_e {
    margin-top: 60px;
    font-size: 18px !important;
    font-family: 'Conv_Gotham-Book';
     color: #000;
}
.page-id-3344 #myModal12 p {
    font-size: 16px;
    font-family: 'Conv_Gotham-Book';
}
#j_sub {
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;
     font-family: 'Conv_Gotham-Book';
}
a.input_submit{
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;
    font-family: 'Conv_Gotham-Book';	
}
.page-id-3344 #myModal12 .modal-content {
    padding-bottom: 75px;
}
#load {
    background-size: 20%;
}
#myModal #edd_checkout_form_wrap input.edd-input, #edd_checkout_form_wrap input[type="email"], #edd_checkout_form_wrap input[type="password"], #edd_checkout_form_wrap input[type="text"], #edd_checkout_form_wrap textarea, #edd_checkout_form_wrap textarea.edd-input, .gform_wrapper input[type="email"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .marketify-input, input[type="search"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], textarea {
    margin-bottom: 47px !important;
    font-size: 18px !important;
    color: #000;
}
.page-id-565 #myModal #edd_checkout_form_wrap input.edd-input, #edd_checkout_form_wrap input[type="email"], #edd_checkout_form_wrap input[type="password"], #edd_checkout_form_wrap input[type="text"], #edd_checkout_form_wrap textarea, #edd_checkout_form_wrap textarea.edd-input, .gform_wrapper input[type="email"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .marketify-input, input[type="search"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], textarea {
    margin-bottom: 20px !important;
}
.single-download .popup-comission {
    overflow-y: scroll;
    max-height: 520px;
}
.single-download .white_content {
    height: 584px;
left: 42%;
width: 1000px;
}
.single-download .wpcf7-form-control.wpcf7-date.wpcf7-validates-as-required.wpcf7-validates-as-date.user-success {
    font-size: 18px !important;
}
.page-id-542 .landscape {
    margin-bottom: 0 !important;
}
.page-id-3344 #myModal12 #t_mes {
    margin-top: 47px;
}
.thumbnail_custome img {
    object-fit: cover;
}
.page-id-106 #myModal .your-name p {
    width: 46%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.page-id-106 #myModal .email-section p {
    width: 46%;
    float: left;
    margin-right: 10px;
}
.page-id-106 #myModal .email-section {
    width: 100%;
    float: left;
}
.page-id-106 .your-name input {
    width: 100%;
    font-size: 18px !important;
    font-family: Conv_Gotham-Book;
}
.page-id-106 #email {
    width: 100% !important;
}
.page-id-106 #phone {
    width: 100%;
}
.page-id-106 span.wpcf7-not-valid-tip {
    width: 100%;
}
.believe_con {
    font-size: 18px;
}
#review {
    padding: 20px 30px !important;
}
.believe_con1 {
    font-size: 22px;
    line-height: 29px;
    font-family: 'Conv_Gotham-Book';
}
.believe_con2 .bolddddd {
    font-size: 20px;
    font-family: 'Conv_Gotham-Bold';
    color: #000;
}
.artist_platform .bolddddd {
    font-size: 20px;
    font-family: 'Conv_Gotham-Bold';
    color: #000;
}
.believe_con2 {
    margin-bottom: 0;
}
.believe_con2 p {
    font-size: 18px;
    line-height: 27px;
}
.artist_platform ul li {
    font-size: 18px;
     font-family: 'Conv_Gotham-Book';
     color: #000;
}
.artist_platform ul {
    margin: 0;
        margin-left: 0px;
    margin-left: 20px;
}
.artist_platform .believe_con{
	margin-bottom: 0px;
}
.lim {
    font-size: 18px;
     font-family: 'Conv_Gotham-Book';
     font-weight: 300;
}
.artist_platform2 strong {
    font-size: 20px !important;
    font-family: 'Conv_Gotham-Bold';
    color: #000;
}
.artist_platform2 p {
	margin-bottom: 0px;
}
.artist_platform2 ul {
    margin: 0;
}
.artist_platform2 li {
    font-size: 18px;
    list-style: none;
    font-family: 'Conv_Gotham-Book';
    color: #000;
}
.juhgtugh .believe_con {
    color: #fff !important;
}
#register-form {
    max-width: 860px;
}
.page-id-3110 .artist_platform p button {
    font-size: 24px !important;
}
.custome-register-form {
    margin-top: 30px;
}
.custome-register-form #description {
    min-height: 239px;
    max-height: 239px;
}
#register-form p {
    font-size: 14px;
}
.rmrow {
    font-size: 16px;
    max-width: 860px;
    line-height: 30px;
}
.filter-painting.main-filter-custome .sf-field-search {
    float: right;
    margin-right: 1.9% !important;
}
.choose span {
    color: #000 !important;
    font-size: 18px;
    font-family: 'Conv_Gotham-Book';
    font-weight: normal;
}
.sf-field-search .sf-input-text {
    font-size: 16px !important;
}
.newdiv #popupContact input {
    margin-bottom: 60px !important;
}

.newdiv .buyer {
    margin-top: 10px;
}
.sub-btn {
    margin-top: 16px !important;
}
.newdiv #popupContact > div#close {
    bottom: 31px  !important;
}
.newdiv div#popupContact {
    padding-bottom: 0 !important;
    padding-top: 20px  !important;
    top: 13%;
    border-radius: 10px;
}
.newdiv #popupContact h2 {
    margin-bottom: 61px !important;
    font-size: 30px !important;
    color: #000;
}
.newdiv #popupContact textarea {
    color: #000;
}
.newdiv #popupContact input {
color: #000;
    font-size: 18px !important;
    font-family: 'Conv_Gotham-Book';
    height: 50px;
}
#vbvbvb {
    background-color: rgba(0, 0, 0, 0.5)  !important;
}
#popupContact > div#close {
    cursor: pointer;
}
.signup a {
    color: #DEDC00 !important;
}
.sf-field-post-meta-edd_price .sf-input-select {
    margin-right: 0;
}
.filter-box-form ul li:nth-child(6)::after {
    position: relative !important;
    right: 81px !important;
} 
.filter-box-form ul li:nth-child(6) .sf-input-select{
margin-top: 20px !important;
margin-left: 57px;
} 
.sf-field-taxonomy-Color ul li {
    margin-right: 10px !important;
}
.banner {
    float: none !important;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
.row1 {
    margin-right: 14px !important;
}
.page-id-3344 .container {
    max-width: 100%;
}
}
@media screen and (min-width: 676px) and (max-width: 991px) { 
.top-header .search-form .search-submit {
    top: 57%;
}
.page-id-3344 .row1 {
    width: 48% !important;
}
.top-header .current-cart.menu-item.menu-item-has-children.asdfghjkl {
    top: 92px;
}
.search-submit {
    height: 38px !important;
}
.top-header .current-cart.menu-item.menu-item-has-children.asdfghjkl {
    top: 68% !important;
}
.entry-content .landscape .banner h1 {
    font-size: 40px !important;
    font-weight: 900;
    line-height: 33px;
    margin-top: 43px !important;
    margin-bottom: 23px !important;
}
.main-cont {
    width: 100%  !important;
    padding: 40px 0px 0px 0px;
}
.main-cont {
    width: 100% !important;
    padding: 40px 0px 0px 0px !important;
}
.page-id-565 .your-name p {
    width: 48% !important;
}
.page-id-565 .email-section p {
    width: 48% !important;
}
.textarea-section #message {
    width: 98% !important;
}
.page-id-565 .banner h1 {
    font-size: 50px !important;
}
.page-id-565 span.wpcf7-list-item-label {
    font-size: 14px !important;
}
.page-id-106 .blog-page-date > h2 {
    padding: 0 !important;
    padding-left: 20px !important;
}
.masanry-gallery h2:first-child {
    padding: 0px 0 !important;
}
.masanry-gallery .title-edit-btn {
    text-align: left;
}
.byline.ddd {
    text-align: left;
}
#artist .add-product-button {
    margin-left: 68%;
}
.row1 {
    margin-right: 12px !important;
}
#artist .comlex-info-product {
    margin-top: 0;
    position: absolute;
    bottom: -40px;
    right: -10px;
    top: auto;
}
}
@media only screen and (max-width: 675px) {
.single-download #headingFour .s-h {
    padding-top: 0px !important;
}
.single-download .comlex-info-product .edd_download_purchase_form {
    margin-top: 0px !important;
}

.page-id-565 .banner h1 {
    font-size: 50px !important;
}
.entry-content .landscape .banner h1 {
    font-size: 40px !important;
    font-weight: 900;
    line-height: 33px;
    margin-top: 43px !important;
    margin-bottom: 23px !important;
}
.rais {
    padding: 70px 15px 0 15px !important;
}
.tabs-ser .col-xs-2 {
    width: 100% !important;
}
.page-id-565 span.wpcf7-list-item {
    margin: 11px 7px 0px 2px !important;
    width: 100% !important;
}
.main-cont {
    width: 100% !important;
    padding: 40px 0px 0px 0px !important;
}
.page-id-565 .your-name p {
    width: 48% !important;
}
.page-id-565 .email-section p {
    width: 48% !important;
}
.page-id-565 .vc_empty_space {
    height: auto !important;
}
.page-id-106 .blog-page-date > h2 {
    padding: 0 !important;
    padding-left: 20px !important;
}
.page-id-26 .edd_form p {
    width: 100% !important;
}
.edd-logged-out {
    text-align: center;
}
#edd_login_form {
    margin-top: 0;
}
.button-login-user .tab .tablinks {
    width: 100% !important;
    margin-bottom: 20px;

}
.button-login-user .btn.btn-info.btn-lg.tablinks.contact {
    width: 100% !important;
}
.masanry-gallery h2:first-child {
    padding: 0px 0 !important;
}
.masanry-gallery .title-edit-btn {
    text-align: left;
}
.byline.ddd {
    text-align: left;
}
#review .review-inner-main-left {
    width: 100%  !important;
}
.review-inner-main-left .review-inner-part {
    float: left;
    width: 100% !important;
}
.side {
    width: 100% !important;
}
.middle {
    width: 100% !important;
}
.right {
    width: 100% !important;
}
.review-inner-part {
    width: 100% !important;
}
.review-inner-part.macrto {
    width: 100% !important;
}
.button-login-user .tab .tablinks {
    margin: 0 0 20px;
}
#myModal12 input.input_us {
    margin-top: 20px;
}
.third-section-authorname {
    font-size: 20px !important;
}
.page-id-3344 #myModal12 #t_mes {
    margin-top: 20px  !important;
}
#review h2 {
    padding: 0 !important;
    margin: 20px 0 !important;
}
.right {
    margin-left: 0;
}
#review .review-inner-part > h2 {
    width: 100% !important;
}
.basic-info-product {
    padding-left: 11px;
}
.filter-box-form ul li:nth-child(6) .sf-input-select {
    margin-left: 0;
}
.searchandfilter select.sf-input-select {
    min-width: 100%;
    margin-bottom: 5px !important;
}
.filter-box-form .searchandfilter select {
    width: 100% !important;
}
}