
.media-grid li:first-of-type {
    margin-right: 22px;
  width: 578px !important;
}
.media-grid li:nth-child(2) {
  width: 260px !important;
}
.media-grid li:nth-child(3) {
  width: 260px !important;
   margin-left: 20px;
}
.media-grid li {
  display: inline-block;
  height: 260px !important;
}
.media-grid li:nth-child(4) {
  width: 260px !important;
  margin-right: 22px;
}
.media-grid li:nth-child(5) {
  width: 260px !important;
}
.media-grid li:nth-child(6) {
   margin-left: 20px;
  width: 578px !important;
}
